---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Hero from '../components/Hero.astro';

import heroImage from '../assets/about/aboutHeroImage.png';

const seoMetaData = {
  description: 'Fair Source is an alternative to closed source, allowing you to safely share access to your core products. Fair Source Software (FSS) can be used with minimal restrictions, and becomes Open Source after a period of time.',
  slug: 'about/'
};

const heroData = {
  headline: "About Fair Source",
  subhead: 'Learn the what, why, and who of Fair Source Software.',
  heroImage: heroImage
}

---

<Layout title="About Fair Source" seo={seoMetaData}>
  <header>
    <Hero
      headline={heroData.headline}
      subhead={heroData.subhead}
      heroImage={heroData.heroImage}
      bottomMargin="2xl:mb-[-1.75rem]"
    />
  </header>
  <main>
    <Section sectionStyles="py-[3rem] px-[5rem] xl:pt-[5.5rem] xl:pb-[11.25rem] xl:px-[14.25rem]" isFirst>
      <div>
        <h2>Fair Source Definition</h2>
        <p
          class="text-[1.75rem] font-[500] leading-[135%] tracking-[-0.0375rem] pb-[1.25rem]"
        >
          Fair Source is an alternative to closed source, allowing you to
          safely share access to your core products. Fair Source Software
          (FSS):
        </p>
        <ol
          class="text-[1.75rem] font-[500] pb-[3.25rem] pl-[3.25rem] list-decimal"
        >
          <li>is publicly available to read;</li>
          <li>
            allows use, modification, and redistribution with minimal restrictions
            to protect the producer’s business model; and
          </li>
          <li>undergoes delayed Open Source publication (DOSP).</li>
        </ol>
        <div>
          <p class="pb-[1.5rem]">
            The intention is for the first point to be a bright line, and for the
            second to invite exploration. We expect <a href="/licenses"
              >Fair Source licenses</a
            > to emerge and evolve and shake out into a few clear winners over time,
            as companies <a href="/join">apply Fair Source</a> within their own particular
            business context.
          </p>

          <div
              class="w-12/12 pb-[1.5rem] lg:pr-[0.875rem]"
          >
            <div
                class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center lg:h-[100%]"
            >
              <div class="w-12/12 lg:w-1/6 pb-[1rem] lg:pb-0">
                <img
                    src="/images/icons/dosp.svg"
                    alt="delayed open source publication"
                />
              </div>
              <div class="w-12/12 lg:w-5/6 lg:pl-[1.5rem]">
                <p>
                  Delayed Open Source Publication (DOSP) is the practice of distributing or publicly deploying software
                  under a proprietary license at first, then subsequently and in a planned fashion publishing that
                  software’s source code under an Open Source license.
                </p>
              </div>
            </div>
          </div>

          <p class="pb-[1.5rem]">
            The third point is also intended as a bright line, and a key
            differentiator of Fair Source from <a
              href="https://opensource.org/blog/opencore">Open Core</a
            > and other approaches. <a href="https://opensource.org/dosp"
              >Delayed Open Source publication</a
            > (DOSP) is a concept <a
              href="https://opensource.org/blog/a-historic-view-of-the-practice-to-delay-releasing-open-source-software-osis-report"
              >established by the Open Source Initiative</a
            > (OSI). It is in keeping with <a href="https://opensource.org/bylaws"
              >OSI's public-benefit mandate</a
            >
            to "persuade organizations and software authors to distribute source software
            freely they otherwise would not distribute." DOSP ensures that if a Fair
            Source company goes out of business, or develops its products in an undesired
            direction, the community or another company can pick up and move forward.
            Will this be meaningful in practice? Again, time will tell.
          </p>

          <h3>Why Fair Source?</h3>

          <p class="pb-[1.5rem]">
            The purpose of Fair Source is to legitimize the practice of
            companies meaningfully sharing access to the code for their core
            software products while retaining control of their roadmap and
            business model, without confusing this with Free and Open Source
            Software. <a href="/companies/">Fair Source companies</a> value
            user freedom and developer sustainability. Quite often, we maintain
            and contribute both financially and in other ways to genuine
            community-governed FOSS projects alongside our commercial Fair
            Source offerings.
          </p>

          <h3>Who is behind Fair Source?</h3>

          <p>
            Fair Source began as an initiative of <a
              href="https://sentry.io/welcome/">Sentry</a
            >
            in 2024, in response to a 2023 <a
              href="https://x.com/adamhjk/status/1687113805237714944"
              >call-to-action</a
            >
            from Chef co-founder Adam Jacob. Fair Source is managed on GitHub. Governance
            and process documentation is <a
              href="https://github.com/fairsource/fair.io">in the README</a
            >.
          </p>

          <div class="justify-center flex mt-[3rem] mb-[3rem]">
            <Button url="/faq/" type="secondary" color="black" cta="Continue to the FAQ"></Button>
          </div>
        </div>
      </div>

    </Section>

</Layout>
 
