---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import companies from '../data/companies.json';
import Button from '../components/Button.astro';
import CarouselCard from '../components/CarouselCard';

const seoMetaData = {
  description: 'Explore the innovative companies that have adopted Fair Source.',
  slug: 'companies/'
};
---


<Layout title="Fair Source Companies" seo={seoMetaData}>
  <header class="relative flex flex-wrap justify-center items-center">
    <div class="container w-12/12 lg:w-8/12 text-center lg:pt-[12.19rem] z-10">
      <h1>Fair Source Companies</h1>
      <p class="mb-[1.5rem] text-[1.75rem] text-black font-[500] leading-[130%] tracking-[-0.035rem]">
        Explore the innovative companies that have adopted Fair Source.
      </p>
      <div class="flex flex-wrap flex-col md:flex-row w-12/12 mb-[11.44rem] gap-[1rem] justify-center">
        <Button url="/howto" type="primary" cta="Adopt Fair Source"></Button>
        <Button url="https://github.com/fairsource/fair.io/issues" type="secondary" color="black" cta="Add your Project" background="background"></Button>
      </div>
    </div>
    <div class="relative min-w-full overflow-visible z-0">
      <div class="absolute bg-[url('/images/background-images/companiesHero-left.svg')] bg-contain bg-no-repeat bg-left-bottom min-h-[30rem] lg:min-h-[53.5rem] w-7/12 left-0 bottom-[-7rem] md:bottom-[-12rem] lg:bottom-[-27rem] xl:bottom-[-35rem]"></div>
      <div class="absolute bg-[url('/images/background-images/companiesHero-right.svg')] bg-contain bg-no-repeat bg-right-bottom min-h-[30rem] lg:min-h-[53.5rem] w-5/12 right-0 bottom-[-3rem] md:bottom-[-5rem] lg:bottom-[-13rem] xl:bottom-[-20rem]"></div>
    </div>
  </header>
  <main>
    <Section>
      <div class="company-list w-full flex flex-wrap">
        <h2 class="pl-[3rem] pt-[3rem] mb-0 text-[1.5rem] font-[500] leading-[125%] mb-[2.62rem] justify-self-start w-1/2">
          All Fair Source Software
        </h2>
      </div>
      {
        companies && <div class="flex flex-wrap columns-1 md:columns-2 lg:columns-3 pb-[5rem] gap-[2.5rem] justify-center">
          {
            companies.map((company) => (
              <CarouselCard company={company} border />           
            ))
          }

        </div>
      }
      </div>
      <div class="relative cta w-full flex flex-wrap items-center justify-center min-h-[30rem]">
        <div class="absolute top-0 right-0 bottom-0 left-0">
          <div class="absolute bg-[url('/images/background-images/companiesWantTo-left.svg')] bg-contain bg-no-repeat bg-left-bottom min-h-[15rem] w-1/3 lg:w-1/2 left-0 bottom-0"></div>
          <div class="absolute bg-[url('/images/background-images/companiesWantTo-right.svg')] hidden md:block bg-no-repeat bg-contain bg-right-bottom h-[20rem] lg:h-full w-1/2 right-0 bottom-0"></div>
        </div>
        <div class="w-12/12 md:w-10/12 lg:w-8/12 text-center lg:py-[12rem]">
          <h2>Want to list your Fair Source product?</h2>
          <p></p>
            <Button htef="/" type="secondary" color="black" cta="Add your Project"></Button>
        </div>
      </div>
    </Section>
  </main>
    
</Layout>