---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';
import GeoLeft from '/images/background-images/geo-left.svg?raw';
import GeoRight from '/images/background-images/geo-right.svg?raw';

const seoMetaData = {
  description: 'Fair Source values user freedom and developer sustainability. We find a balance through non-compete licenses that allow users to run the software for their own needs, modify it, and propose changes back to the developer.',
  slug: 'definition/'
};

---

<Layout title="Fair Source Definition" seo={seoMetaData}>
  <header class="w-full relative overflow-x-clip z-0">
    <div class="flex flex-wrap justify-center container mx-auto z-10 relative">
      <div class="w-10/12 lg:w-9/12 xl:w-8/12 py-[3rem] lg:py-[6rem] 2xl:pt-[12.19rem] 2xl:pb-[18.06rem] 3xl:pt-[8rem] 3xl:pb-[12rem] flex-col justify-center text-center z-1">
        <h1>Fair Source Definition</h1>
        <p class="text-[1.75rem] font-[500] leading-[130%] tracking-[-0.035rem] mb-[1.5rem]">Explore the innovative companies that have adopted Fair Source.</p>
        <div class="flex flex-wrap items-center justify-center columns-2 gap-[1rem]">
          <Button cta="Join Fair Source" url="/join" type="primary" />
          <Button cta="Add Your Company" url="https://github.com/fairsource/fair.io" type="secondary" />
        </div>
      </div>
    </div>
    <div class="image z-0 w-auto absolute md:top-[11rem] md:bottom-[-12rem] md:left-[-2rem] md:right-0 lg:top-[14rem] lg:top-[-14rem] lg:left:-[-6rem] lg:right-0 xl:top-[20rem] xl:bottom-[-40rem] xl:left-[-8.56rem] xl:right-0 3xl:top-[14rem] 3xl:left-[-4rem] 3xl:right-0 3xl:bottom-[-8rem]">
      <div class="flex items-top justify-center w-[100%] relative mx-auto columns-2 gap-[4rem] z-0 xl:max-h-[30rem] 2xl:max-h-[40rem] 3xl:max-h-[60rem] overflow-clip">
        <div class="w-6/12 pt-[2rem]">
          <Fragment set:html={GeoLeft} />
        </div>
        <div class="w-6/12">
          <Fragment set:html={GeoRight} />
        </div>
      </div>
    </div>

  </header>
  <main>
    <Section sectionStyles="py-[3rem] px-[5rem] xl:pt-[5.5rem] xl:pb-[11.25rem] xl:px-[14.25rem]">
      <div>
        <h2>How does Fair Source benefit developers?</h2>
        <p class="text-[1.75rem] font-[500] leading-[135%] tracking-[-0.0375rem] pb-[3.25rem]">Fair Source values user freedom and developer sustainability. We find a balance through non-compete licenses that allow users to run the software for their own needs, modify it, and propose changes back to the developer.</p>
        <div>
          <p class="pb-[1.5rem]">
            Additionally, Fair Source software licensing often incorporates <a href="" class="emphasized">delayed Open Source publication</a>. Also known as eventual 
            Open Source, the idea here is that the software product goes under an <a href="" class="emphasized">Open Source license</a> after a certain period of 
            time, usually two years. This way, if the developer of the software takes it in a bad direction, the community or 
            another company can fork it from before it started going bad and move it forward on a more desirable course.
          </p>
          <p>
            See the specific <a href="/licenses">licenses and approaches</a> we have vetted and approved as fitting our Fair Source values.
          </p>
        </div>
      </div>

    </Section>
  </main>
    
</Layout>
