---
import { Image } from 'astro:assets';

import heroImage from '../assets/faq/faqHeroImage.png';

import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Collapse from '../components/Collapse.astro';

const seoMetaData = {
  description: 'Read on to understand Fair Source and what it has to offer companies and developers.',
  slug: 'faq/'
};

---


<Layout title="Frequently Asked Questions" seo={seoMetaData}>
  <header class="relative container-spill mx-auto flex flex-wrap pl-[0.5rem] sm:pl-[1rem] md:pl-[1.5rem] lg:pl-[2rem] xl:pl-[1.5rem] 2xl:pl-[3.62rem] 3xl:pl-[6.62rem]">
    <div class="block relative mx-auto w-12/12 lg:w-1/2 lg:order-12 lg:absolute lg:right-[-2rem] lg:left-[calc(50% + 4rem)] xl:top-0 2xl:w-7/12 2xl:bottom-[-2rem]">
      <Image src={heroImage} alt="hero image" densities={[1.5, 2]} class="relative w-[100%] h-auto"/>
    </div>
    <div class="relative w-12/12  py-[3rem] lg:w-1/2 lg:py-[1.5rem] lg:pr-[4rem] xl:pb-[8.62rem] xl:pt-[6rem] 2xl:pb-[8rem] 2xl:pt-[12rem] 2xl:w-5/12 2xl:pr-[2rem]">
      <h1 class="text-balance mb-[1rem]">Frequently Asked Questions</h1>
      <p class="text-[1.75rem] font-[500] leading-[130%] tracking-[0.035rem]">Read on to understand Fair Source and what it has to offer companies and developers.</p>
    </div>
  </header>
  <main>
    <Section backgroundStyling="py-[3rem] px-[3rem]">
      <div class="w-full">
        <Collapse title="What is Fair Source?" collapseID="fair-source-defined">
          <div class="relative flex flex-wrap">
            <div class="w-12/12 pb-[3.75rem]">
              <p>
                Fair Source is an alternative to closed source, allowing you to
                safely sharing access to your company's core software products.
                The two basic features of Fair Source <a href="/licenses/">licensing</a
                > are:
              </p>
            </div>
            <div class="w-full flex flex-wrap pb-[3rem]">
              <div class="w-12/12 lg:w-1/2 pb-[2rem] lg:pr-[0.75rem]">
                <div
                  class="border border-borderGray rounded-small p-[2rem] lg:h-[100%]"
                >
                  <img
                    src="/images/icons/non-compete.svg"
                    alt="non-compete icon]"
                    class="mb-[2.25rem]"
                  />
                  <h3>Minimal Restrictions</h3>
                  <p>
                    Developers can read, use, and modify Fair Source software
                    with minimal restrictions that protect the producer's
                    business model.
                  </p>
                </div>
              </div>
              <div class="w-12/12 lg:w-1/2 pb-[2rem] lg:pl-[0.75rem]">
                <div
                  class="border border-borderGray rounded-small p-[2rem] lg:h-[100%]"
                >
                  <img
                    src="/images/icons/eventual-open-source.svg"
                    alt="eventual open-source icon"
                    class="mb-[2.25rem]"
                  />
                  <h3>Delayed Open Source</h3>
                  <p>
                    Fair Source software automatically becomes Open Source
                    software, usually after two years.
                  </p>
                </div>
              </div>
              <div>
                <p>Read more <a href="/about/">about Fair Source</a>.</p>
              </div>
            </div>
          </div>
        </Collapse>
        <Collapse
          title="How does Fair Source relate to Open Source?"
          collapseID="fair-source-open-source-relation"
        >
          <div class="relative flex flex-wrap pb-[3rem]">
            <p>
              Fair Source provides as many of the benefits of <a
                href="https://opensource.org/"
                class="empahsized"
                target="_BLANK">Open Source</a
              > to developers as companies are comfortable giving, while reserving
              and asserting a minimal set of exclusive rights to help achieve a sustainable
              business model. Consequently, Fair Source and Open Source are complementary
              approaches suited to different cases:
            </p>
            <div class="w-full flex flex-wrap py-[3rem] items-stretch">
              <div class="w-12/12 lg:w-1/2 pb-[2rem] lg:pr-[0.75rem]">
                <div
                  class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center lg:h-[100%]"
                >
                  <div class="w-12/12 pb-[1rem] lg:pb-0 lg:w-1/6">
                    <img
                      src="/images/icons/fair-source.svg"
                      alt="fair source"
                    />
                  </div>
                  <div class="lg:pl-[1.5rem] w-12/12 lg:w-5/6">
                    <h3>
                      Fair Source works best for a company’s core software
                      products.
                    </h3>
                  </div>
                </div>
              </div>
              <div class="w-12/12 lg:w-1/2 pb-[2rem] lg:pl-[0.75rem]">
                <div
                  class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center lg:h-[100%]"
                >
                  <div class="w-12/12 pb-[1rem] lg:pb-0 lg:w-1/6">
                    <img
                      src="/images/icons/open-source.svg"
                      alt="open source"
                    />
                  </div>
                  <div class="lg:pl-[1.5rem] w-12/12 lg:w-5/6">
                    <h3>
                      Open Source is best for infrastructure shared across
                      companies.
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <p>
              Read about the <a
                href="https://openpath.chadwhitacre.com/2024/the-historical-case-for-fair-source/"
                class="emphasized external">historical background</a
              > of Fair Source and Open Source.
            </p>
          </div>
        </Collapse>
        <Collapse
          title="Why should I adopt Fair Source at my company?"
          collapseID="why-adopt"
        >
          <div class="relative flex flex-wrap pb-[3rem]">
            <p>
              Fair Source provides many of the same benefits for companies as
              Open Source, by helping to foster an engaged developer community
              around your software products. In <a
                class="emphasized external"
                href="https://dirkriehle.com/publications/2009-selected/the-commercial-open-source-business-model/#section4"
                >The Single-Vendor Commercial Open Source Business Model</a
              >, Professor Dirk Riehle of the University of Erlangen identifies
              the following benefits of such a community, by business function:
            </p>
          </div>
          <div class="w-full flex flex-wrap items-stretch pb-[3rem]">
            <div
              class="w-12/12 pb-[1.5rem] lg:w-6/12 xl:w-4/12 lg:pr-[0.875rem]"
            >
              <div
                class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center h-[100%]"
              >
                <div class="w-12/12">
                  <img
                    class="pb-2"
                    src="/images/icons/faq-sales.svg"
                    alt="sales"
                  />
                  <h3 class="pb-2">Sales</h3>
                  <p>More and easier sales due to customer-side champions.</p>
                </div>
              </div>
            </div>
            <div
              class="w-12/12 pb-[1.5rem] lg:w-6/12 xl:w-4/12 lg:pl-[0.875rem] xl:px-[0.875rem]"
            >
              <div
                class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center h-[100%]"
              >
                <div class="w-12/12">
                  <img
                    class="pb-2"
                    src="/images/icons/faq-marketing.svg"
                    alt="marketing"
                  />
                  <h3 class="pb-2">Marketing</h3>
                  <p>
                    Effective and cheaper marketing through engaged community.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="w-12/12 pb-[1.5rem] lg:w-6/12 xl:w-4/12 lg:pr-[0.875rem] xl:pl-[0.875rem] xl:pr-0"
            >
              <div
                class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center h-[100%]"
              >
                <div class="w-12/12">
                  <img
                    class="pb-2"
                    src="/images/icons/faq-pm.svg"
                    alt="product management"
                  />
                  <h3 class="pb-2">Product Management</h3>
                  <p>
                    Superior product thanks to broad and deep user innovation.
                  </p>
                </div>
              </div>
            </div>
            <div
              class="w-12/12 pb-[1.5rem] lg:w-6/12 xl:w-4/12 lg:pl-[0.875rem] xl:pr-[0.875rem] xl:pl-0"
            >
              <div
                class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center h-[100%]"
              >
                <div class="w-12/12">
                  <img
                    class="pb-2"
                    src="/images/icons/faq-engineering.svg"
                    alt="engineering"
                  />
                  <h3 class="pb-2">Engineering</h3>
                  <p>Faster development with immediate community feedback.</p>
                </div>
              </div>
            </div>
            <div
              class="w-12/12 pb-[1.5rem] lg:w-6/12 xl:w-4/12 lg:pr-[0.875rem] xl:px-[0.875rem]"
            >
              <div
                class="border border-borderGray rounded-small p-[2rem] flex flex-wrap items-center h-[100%]"
              >
                <div class="w-12/12">
                  <img
                    class="pb-2"
                    src="/images/icons/faq-support.svg"
                    alt="support"
                  />
                  <h3 class="pb-2">Support</h3>
                  <p>
                    Lower support costs thanks to self-supporting user
                    community.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </Collapse>
        <Collapse title="How do I adopt Fair Source?" collapseID="how-to-adopt">
          <div class="relative flex flex-wrap pb-[3rem]">
            <p>
              The basic steps to adopting Fair Source are to plan for community
              engagement, apply a license, audit and publish your source code,
              and announce that you are now Fair Source. For more details read
              our
              <a href="/join">guide to joining Fair Source</a>.
            </p>
          </div>
        </Collapse>
        <Collapse
          title="How does Fair Source benefit developers?"
          collapseID="how-developers-benefit"
        >
          <div class="relative flex flex-wrap pb-[3rem]">
            <p>
              With minimal restrictions to protect the producer's business
              model, developers can read, use, modify, and redistribute Fair
              Source Software. Developers can propose modifications back to the
              producer if they wish, or simply benefit from the company's
              continual investment in maintenance and improvement. In the event
              a Fair Source product is abandoned or developed in an
              unsatisfactory direction, developers can fork a previous version.
            </p>
          </div>
        </Collapse>
        <Collapse
          title="Is Fair Source software safe to use?"
          collapseID="is-fair-source-safe"
          isLast
        >
          <div class="relative flex flex-wrap pb-[3rem]">
            <p>
              Yes. Fair Source <a href="/licenses/">licenses</a> are written
              such that it is difficult to violate them. If Fair Source
              Software includes feature restrictions based on certain criteria,
              the burden is on the software to monitor and enforce the
              criteria, not the user of the software.
            </p>
          </div>
        </Collapse>
      </div>
    </Section>
  </main>
    
</Layout>
