---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';
import Carousel from '../components/Carousel.jsx';
import companies from '../data/companies.json';
import { Image } from 'astro:assets';

import fairSourceImage from '../assets/home/fairsource.png';
import developerImage from '../assets/home/developer.png';


---

<Layout title="Software Sharing for Modern Companies | Fair.io">
  <header class="relative container-spill md:pl-[1.5rem] lg:pl-[3rem]">
    <div class="bg-[url('/images/background-images/homeHeroImage.svg')] absolute lg:right-0 lg:top-0 lg:bottom-0 lg:w-1/2 lg:bg-no-repeat" />
    <div class="relative flex">
      <div class="w-12/12 lg:w-6/12 lg:py-[7.19rem] flex items-center">
        <div>
          <h1 class="text-black mb-4">
            Software Sharing for Modern Companies
          </h1>
          <p class="text-balance text-black text-[1.5rem] xl:text-[2rem] leading-[130%] font-sans font-[500] mb-6">Balance innovation and protection with Fair Source licensing.</p>
          <div class="flex flex-wrap gap-4">
            <Button type="primary" url='/howto' color="teal" cta="Adopt Fair Source" />
            <Button type="secondary" url='/faq' color="black" cta="Learn More" />          
          </div>
        </div>
      </div>
      <div class="w-12/12 lg:w-7/12">
      </div>
    </div>
  </header>
	<main>
    {
      companies && <section class="w-full mb-[3.25rem]">
        <Carousel companies={companies} client:load client:only="react" />
      </section>
    }
    <Section sectionStyles="px-[1.5rem] lg:px-[3.5rem]" backgroundStyling="bg-[url('/images/background-images/embraceFairSource.svg')] w-full top-0 left-0 right-0 min-h-[20rem] bottom-[75%] md:bottom-[60%] lg:bottom-[55%] lg:bg-cover xl:bg-no-repeat xl:bg-auto xl:left-1/2 xl:w-1/2 xl:bottom-0 xl:right-0 xl:bg-[right_100%_bottom] 2xl:bg-[right_300%_bottom] 3xl:bg-[90%]">
      <div class="relative w-12/12 min-h-[20rem] xl:min-h-[100%] xl:w-1/2 flex justify-center justify-center items-center h-full xl:order-12">
        <Image src={fairSourceImage} alt="Adopt Fair Source" width="300" height="300" class="relative" />
      </div>
      <div class="w-12/12 xl:w-1/2 xl:order-1">
        <div class="py-[3rem] md:py-[3rem] lg:py-[4rem] xl:py-[6rem] 2xl:py-[6.9rem]">
          <span class="text-teal tag">Embrace Fair Source</span>
          <h2>Learn how to adopt Fair Source for your projects</h2>
          <p class="mb-6">Whether you’re a developer looking to contribute or a business aiming to innovate, we the provide steps to successfully implement Fair Source in your projects. Join the community of ethical and innovative software sharing, balancing collaboration with control for everyone involved.</p>
          <Button type="secondary" cta="adopt fair source" url="/howto" color="teal" />
        </div>
      </div>
    </Section>
    <Section sectionStyles="px-[1.5rem] lg:px-[3.5rem]" backgroundStyling="bg-[url('/images/background-images/learnfairsource.svg')] w-full top-0 left-0 right-0 min-h-[20rem] bottom-[80%] md:bottom-[60%] lg:bottom-[55%] lg:bg-cover lg:bottom-0 lg:bg-cover xl:h-auto xl:w-1/2 xl:bottom-0 xl:bg-[top-20%_left] xl:h-auto">
      <div class="w-12/12 xl:w-1/2 h-auto min-h-[20rem] xl:h-full flex items-center justify-center">
        <div class="relative w-1/2 xl:block xl:absolute xl:bottom-0 xl:left-0 xl:w-12/12 xl:w-1/2">
          <Image src={developerImage} alt="Understand Fair Source" />
        </div>
      </div>
      <div class="w-12/12 xl:w-1/2">
        <div class="py-[3rem] md:py-[3rem] lg:py-[4rem] xl:py-[6rem] 2xl:py-[6.9rem]">
          <span class="tag text-orange">Understand Fair Source</span>
          <h2>Find answers to your questions about Fair Source</h2>
          <p class="mb-6">Looking for detailed information about Fair Source? Discover in-depth answers and insights to help you fully understand its benefits and applications. From licensing details to implementation tips, find everything you need to make the most of Fair Source.</p>
          <Button type="secondary" cta="learn more" url="/faq" color="orange" />
        </div>
      </div>
    </Section>
	</main>
</Layout>

<style>

</style>
