---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';
import Carousel from '../components/Carousel.jsx';
import companies from '../data/companies.json';
import { Image } from 'astro:assets';

import fairSourceImage from '../assets/home/fairsource.png';
import heroImage from '../assets/home/homeHeroImage.png';

const seoMeta = {
  description: 'Whether you’re a developer looking to contribute or a business aiming to innovate, we the provide steps to successfully implement Fair Source in your projects. Join the community of ethical and innovative software sharing, balancing collaboration with control for everyone involved.',
};


---

<Layout title="Software Sharing for Modern Companies" seo={seoMeta}>
  <header class="relative container-spill md:pl-[1.5rem] lg:pl-[3rem] overflow-x-clip">
    <div class="relative flex 3xl:pb-[6rem]">
      <div class="w-12/12 lg:w-6/12 lg:py-[7.19rem] flex items-center">
        <div>
          <h1 class="text-black mb-4">
            Software Sharing for Modern Companies
          </h1>
          <p class="text-balance text-black text-[1.5rem] xl:text-[2rem] leading-[130%] font-sans font-[500] mb-6">Balance innovation and protection with Fair Source licensing.</p>
          <div class="flex flex-wrap gap-4">
            <Button type="primary" url='/join' color="teal" cta="Join Fair Source" />
            <Button type="secondary" url='/faq' color="black" cta="Learn More" />          
          </div>
        </div>
      </div>
    </div>
    <div class="absolute w-0 lg:w-[47%] 3xl:w-[48%] top-0 right-0 3xl:top-[-1rem] 3xl:right-[-3rem] 2xl:right-[-1rem] xl:right-[-4rem] xl:top-[2rem] lg:right-[-3.5rem]">
      <Image src={heroImage} alt="hero image" densities={[1, 1.5, 2, 3, 4]} class="relative"/>
    </div>
  </header>
	<main>
    {
      companies && <section class="w-full mb-[3.25rem]">
        <Carousel companies={companies} client:load client:only="react" />
      </section>
    }
    <Section sectionStyles="px-[1.5rem] lg:px-[3.5rem]" backgroundStyling="bg-[url('/images/background-images/embraceFairSource.svg')] w-full top-0 left-0 right-0 min-h-[20rem] bottom-[75%] md:bottom-[60%] md:left-[8%] md:bg-[right_-200%_bottom] md:bg-no-repeat lg:bottom-[55%] lg:bg-cover xl:bg-no-repeat xl:bg-auto xl:left-1/2 xl:w-1/2 xl:bottom-0 xl:right-0 xl:bg-[right_100%_bottom] 2xl:bottom-0 2xl:bg-[right_280%_bottom] 2xl:scale-[1.0125] 3xl:bg-[right_-140%_bottom]">
      <div class="relative w-12/12 p-[25%] xl:p-[10%] xl:w-1/2 flex justify-center items-center xl:order-12 lg:p-[25%]">
        <Image src={fairSourceImage} alt="Adopt Fair Source" densities={[1, 1.5, 2, 3, 4]} class="absolute xl:w-[75%] xl:top-[-4.5rem] xl:left-[7rem] 2xl:w-[65%] 2xl:top-[-3.5rem] 2xl:left-[9.5rem]" />
      </div>
      <div class="relative w-12/12 xl:w-1/2 xl:order-1">
        <div class="py-[3rem] md:py-[3rem] lg:py-[4rem] xl:py-[6rem] 2xl:py-[6.9rem]">
          <span class="text-teal tag">Embrace Fair Source</span>
          <h2>Learn how to adopt Fair Source at your company</h2>
          <p class="mb-6">Whether you’re a developer looking to contribute or a business aiming to innovate, we the provide steps to successfully implement Fair Source in your projects. Join the community of ethical and innovative software sharing, balancing collaboration with control for everyone involved.</p>
          <Button type="secondary" cta="join fair source" url="/join" color="teal" />
        </div>
      </div>
    </Section>
    <Section sectionStyles="px-[1.5rem] lg:px-[3.5rem]" backgroundStyling="bg-[url('/images/background-images/learnfairsource.svg')] w-full top-0 left-[-5rem] right-0 min-h-[20rem] bottom-[80%] md:bottom-[60%] md:bg-no-repeat md:left-[0] lg:bottom-[55%] lg:bg-cover lg:bottom-0 lg:bg-cover xl:h-auto xl:w-1/2 xl:bottom-0 3xl:bg-[top_20%_left] xl:h-auto">
      <div class="w-12/12 xl:w-1/2 h-auto min-h-[20rem] xl:h-full flex items-center justify-center">
        <div class="relative w-1/2 xl:block xl:absolute xl:bottom-0 xl:left-0 xl:w-12/12 xl:w-1/2">
        </div>
      </div>
      <div class="w-12/12 xl:w-1/2">
        <div class="py-[3rem] md:py-[3rem] lg:py-[4rem] xl:py-[6rem] 2xl:py-[6.9rem]">
          <span class="tag text-orange">Understand Fair Source</span>
          <h2>Find answers to your questions about Fair Source</h2>
          <p class="mb-6">Looking for detailed information about Fair Source? Discover in-depth answers and insights to help you fully understand its benefits and applications. From licensing details to implementation tips, find everything you need to make the most of Fair Source.</p>
          <Button type="secondary" cta="learn more" url="/faq" color="orange" />
        </div>
      </div>
    </Section>
	</main>
</Layout>

<style>

</style>
