---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Collapse from '../components/Collapse.astro';

---

<Layout title="Frequently Asked Questions | Fair.io">
  <header class="container px-3 mx-auto flex flex-wrap px-[3rem]">
    <div class="w-12/12 lg:w-1/2 lg:pb-[15.62rem] lg:pt-[12rem]">
      <h1 class="text-balance mb-[1rem]">Frequently Asked Questions</h1>
      <p class="text-[1.75rem] font-[500] leading-[130%] tracking-[0.035rem]">Your guide to understanding Fair Source and how to make the most of it.</p>
    </div>
    <div class="w-12/12 lg:w-1/2">

    </div>
  </header>
  <main>
    <Section backgroundStyling="py-[3rem]">
      <div class="w-12/12">
        <Collapse title="What is Fair Source?" collapse-id="collapse-1">
          <div class="">
            Test
          </div>
        </Collapse>
        <Collapse title="Test 2" collapse-id="collapse-2">
          <div class="">
            Test 2
          </div>
        </Collapse>
        <Collapse title="Test 3" collapse-id="collapse-3">
          <div class="">
            Test 3
          </div>
        </Collapse>
      </div>

    </Section>
  </main>
    
</Layout>