---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';

---

<Layout title="How to Adopt Fair Source">
  <header class="container px-3 mx-auto flex flex-wrap px-[3rem]">
    <div class="w-12/12 lg:w-1/2 lg:pb-[15.25rem] lg:pt-[12.38rem]">
      <h1 class="text-balance mb-[1rem]">How to Adopt Fair Source</h1>
      <p class="text-[1.75rem] font-[500] leading-[130%] tracking-[0.035rem]">Sold on the <a href="/" class="underline">benefits</a>? Here's how to adopt Fair Source for your project.</p>
    </div>
    <div class="w-12/12 lg:w-1/2">

    </div>
  </header>
  <main>
    <Section backgroundStyling="lg:px-[3rem]">
      <div class="w-12/12 xl:w-1/2 py-[3rem] xl:pr-[1rem] xl:py-[6rem]">
        <span class="tag text-teal">1. Make a Community Engagement Plan</span>
        <h2>
          Fair source is for companies that want to engage with the developer community
          in a meaningful way.
        </h2>
        <p>
          Don’t overplan but don’t underplan. You’re competing with a lot of others for 
          limited attention, so it’s likely that you won’t see a flood of engagement 
          at first. As your product gets traction so will your community, and vice 
          versa.
        </p>
      </div>
      <div class="w-full xl:w-1/2">
        <div class="list pb-[2.5rem]">
          <div class="listItem flex grid-columns-2 xl:pl-[1rem] gap-[1rem]">
            <div class="glyph">
              <img src="/images/icons/list1.svg" alt="open source channels"/>
            </div>
            <div class="text">
              <h3>What channels will you monitor?</h3>
              <p>
                You should be active on channels that developers use, such as 
                GitHub or GitLab, Discord, and X (Twitter).
              </p>
            </div>
          </div>
        </div>
        <div class="list pb-[2.5rem]">
          <div class="listItem flex grid-columns-2 gap-[1rem]">
            <div class="glyph">
              <img src="/images/icons/list2.svg" alt="communication"/>
            </div>
            <div class="text">
              <h3>Who will respond and how frequently?</h3>
              <p>
                Designate team members to handle responses and set a regular 
                response schedule.
              </p>
            </div>
          </div>
        </div>
        <div class="list pb-[2.5rem]">
          <div class="listItem flex grid-columns-2 gap-[1rem]">
            <div class="glyph">
              <img src="/images/icons/list2.svg" alt="feature requests"/>
            </div>
            <div class="text">
              <h3>What will you do with bug reports and feature requests?</h3>
              <p>
                Create a process for triaging and addressing bug reports and 
                feature requests.
              </p>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <Section backgroundStyling="lg:px-[3rem]">
      <div class="w-12/12 xl:w-8/12 py-[3rem] xl:pt-[11rem] xl:pb-[9rem]">
        <span class="tag text-ltOrange">2. Choosing a License</span>
        <h2>Licensing is the heart of Fair Source</h2>
        <p class="mb-[1rem]">
          Our recommended approach is the Functional Source Licens 
          (filler spacee — a robust, clear, non-compete license that offers 
          two-year OSS conversion. FSL is ideal for companies with a SaaS business 
          model. If you have more complex requirements, consider using the 
          [ bdlank filler space, a hacky but works] instead. It is much more 
          flexible than FSL at the cost of simplicity and clarity.
        </p>
        <p>Read more about <a href="/licenses" class="underline">all Fair Source licenses and approaches</a>.</p>
      </div>
    </Section>
    <Section backgroundStyling="lg:px-[3rem]">
      <div class="w-12/12 xl:w-7/12 xl:pt-[12.19rem] xl:pb-[12.56rem]">
        <span class="tag text-rust">3. Audit for Secrets</span>
        <h2>
          Before you publish your code, make sure you don’t have any secrets in your 
          repository.
        </h2>
        <p>Tools such <a href="" class="emphasized">TruffleHog</a> can help with this.</p>
      </div>
      <div class="w-12/12 xl:w-5/12"></div>
    </Section>
    <Section backgroundStyling="lg:px-[3rem]">
      <div class="w-12/12 xl:w-5/12"></div>
      <div class="w-12/12 xl:w-7/12 xl:py-[13.81rem]">
        <span class="tag text-teal">4. Publish Your Repo</span>
        <h2>This is the fun part. Click the button to make it public and celebrate the moment.</h2>
      </div>
    </Section>
    <Section backgroundStyling="lg:px-[3rem]">
      <div class="w-12/12 xl:w-7/12 xl:pt-[11.62rem] xl:pb-[13.75rem]">
        <span class="tag text-rust">5. Tell the World</span>
        <h2>Let’s spread the word together!</h2>
        <p>Use the fair-source repo topic on
          Share your story about going Fair Source on your company blog. 
          Announce it on social media, and tell us so we can reshare, and 
          link to your blog from our homepage. Welcome aboard!
        </p>
      </div>
      <div class="w-12/12 xl:w-7/12"></div>
    </Section>
    <Section backgroundStyling="lg:px-[3rem]">
      <div class="w-12/12 xl:w-1/2 xl:py-[13.19rem]">
        <h2 class="text-center">Want some more help?</h2>
        <p class="text-center">Reach out to us at <a href="" target="_BLANK" class="emphasized">Github</a> or <a href="" target="_BLANK" class="emphasized">Twitter</a> if you’ve got more questions. We’re happy to help!</p>
      </div>
    </Section>
  </main>
</Layout>