---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';


---

<Layout title="Welcome to Astro.">
  <header class="relative w-100 pl-[3rem]">
    <div class="relative grid grid-cols-12 gap-10">
      <div class="col-span-12 lg:col-span-6 flex items-center">
        <div>
          <h1 class="text-black mb-4">
            Software Sharing for Modern Companies
          </h1>
          <p class="text-balance text-black text-[32px] leading-[130%] font-sans font-[500] mb-6">Balance innovation and protection with Fair Source licensing.</p>
          <div class="flex flex-wrap gap-4">
            <Button type="primary" url='/howto' color="teal" cta="Adopt Fair Source" />
            <Button type="secondary" url='/faq' color="black" cta="Learn More" />          
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <svg class="w-100" viewBox="0 0 724 642" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M480.199 320.978C480.199 232.335 408.637 160.49 320.343 160.49C232.048 160.49 160.486 232.335 160.486 320.978C160.486 409.622 232.048 481.467 320.343 481.467C408.637 481.467 480.199 409.622 480.199 320.978ZM297.522 320.978C297.522 308.315 307.766 298.031 320.379 298.031C332.993 298.031 343.237 308.315 343.237 320.978C343.237 333.642 332.993 343.926 320.379 343.926C307.766 343.926 297.522 333.642 297.522 320.978Z" fill="#FFA229"/>
          <path d="M6.92804e-05 160.453L160.488 160.453L160.488 0.000976562C71.8446 0.000972688 7.31535e-05 71.8455 6.92788e-05 160.489L6.92804e-05 160.453Z" fill="#0A9396"/>
          <path d="M0.00199178 322.242L161.754 322.242L161.754 159.227C72.4122 159.227 0.00199571 232.203 0.00199178 322.242Z" fill="#5C5272"/>
          <path d="M482.73 320.977L482.73 0.000152588L497.146 0.000153218C577.067 0.000156711 641.955 65.4032 641.955 145.958L641.955 320.977L482.73 320.977Z" fill="#341830"/>
          <path d="M0 641.952L1.39751e-05 322.239L14.53 322.239C95.0852 322.239 160.488 387.385 160.488 467.623L160.488 641.952L0 641.952Z" fill="#341830"/>
          <path d="M641.955 240.734C641.955 285.052 677.599 320.978 721.567 320.978C765.536 320.978 801.18 285.052 801.18 240.734C801.18 196.417 765.536 160.49 721.567 160.49C677.599 160.49 641.955 196.417 641.955 240.734Z" fill="#FF763E"/>
          <path d="M641.955 80.2451C641.955 124.563 677.599 160.489 721.567 160.489C765.536 160.489 801.18 124.563 801.18 80.2451C801.18 35.9275 765.536 0.000975004 721.567 0.000973083C677.599 0.000971161 641.955 35.9275 641.955 80.2451Z" fill="#FFA229"/>
          <path d="M160.486 0.000962587L480.199 0.000976562C480.199 88.6446 408.637 160.489 320.343 160.489C232.048 160.489 160.486 88.6446 160.486 0.000962587Z" fill="#FF763E"/>
          <path d="M322.242 641.955L322.242 561.693L482.73 481.467L482.73 561.693L322.242 641.955Z" fill="#FF763E"/>
          <path d="M160.488 641.955L160.488 561.693L320.977 481.467L320.977 561.693L160.488 641.955Z" fill="#0A9396"/>
          <path d="M637.798 504.324C650.913 506.453 663.27 497.547 665.399 484.433C667.527 471.319 658.622 458.962 645.507 456.833C632.393 454.704 620.036 463.61 617.907 476.724C615.778 489.839 624.684 502.196 637.798 504.324Z" fill="#341830"/>
          <path d="M624.65 589.598C634.044 598.992 649.276 598.993 658.671 589.598C668.065 580.203 668.065 564.972 658.671 555.577C649.276 546.182 634.044 546.182 624.65 555.577C615.255 564.972 615.255 580.203 624.65 589.598Z" fill="#341830"/>
          <path d="M636.166 411.863C649.097 414.915 662.053 406.907 665.105 393.976C668.157 381.045 660.149 368.089 647.218 365.037C634.287 361.985 621.331 369.993 618.279 382.924C615.227 395.855 623.235 408.811 636.166 411.863Z" fill="#341830"/>
          <path d="M711.517 489.74C716.602 502.014 730.674 507.843 742.948 502.759C755.223 497.675 761.052 483.602 755.968 471.328C750.883 459.053 736.811 453.224 724.536 458.309C712.262 463.393 706.433 477.465 711.517 489.74Z" fill="#341830"/>
          <path d="M728.213 595.997C741.143 599.049 754.1 591.04 757.152 578.11C760.204 565.179 752.195 552.222 739.265 549.171C726.334 546.119 713.377 554.127 710.326 567.058C707.274 579.988 715.282 592.945 728.213 595.997Z" fill="#341830"/>
          <path d="M716.74 405.473C726.134 414.867 741.366 414.867 750.76 405.473C760.155 396.078 760.155 380.847 750.76 371.452C741.366 362.057 726.134 362.057 716.74 371.452C707.345 380.847 707.345 396.078 716.74 405.473Z" fill="#341830"/>
          <path d="M525.555 480.536C525.555 493.822 536.326 504.592 549.612 504.592C562.898 504.592 573.668 493.822 573.668 480.536C573.668 467.25 562.898 456.479 549.612 456.479C536.326 456.479 525.555 467.25 525.555 480.536Z" fill="#341830"/>
          <path d="M525.555 572.598C525.555 585.884 536.326 596.655 549.612 596.655C562.898 596.655 573.668 585.884 573.668 572.598C573.668 559.312 562.898 548.542 549.612 548.542C536.326 548.542 525.555 559.312 525.555 572.598Z" fill="#341830"/>
          <path d="M525.555 388.47C525.555 401.756 536.326 412.526 549.612 412.526C562.898 412.526 573.668 401.756 573.668 388.47C573.668 375.184 562.898 364.413 549.612 364.413C536.326 364.413 525.555 375.184 525.555 388.47Z" fill="#341830"/>
        </svg>
      </div>
    </div>
  </header>
	<main>
    <section>

    </section>
    <Section>
      <div class="col-span-12 lg:col-span-6">
        <div class="px-[3.5rem]">
          <span class="text-teal tag">Embrace Fair Source</span>
          <h2>Learn how to adopt Fair Source for your projects</h2>
          <p class="mb-6">Whether you’re a developer looking to contribute or a business aiming to innovate, we the provide steps to successfully implement Fair Source in your projects. Join the community of ethical and innovative software sharing, balancing collaboration with control for everyone involved.</p>
          <Button type="secondary" cta="adopt fair source" url="/howto" color="teal" />
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6 relative">
        <svg viewBox="0 0 640 617" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M639.992 206.919L639.992 417.008L636.622 417.008C520.366 417.008 426.013 322.888 426.013 206.919L639.992 206.919Z" fill="#341830"/>
          <path d="M0.0013687 101.875C0.00136616 159.89 47.6845 206.92 106.505 206.92C165.325 206.92 213.008 159.89 213.008 101.875C213.008 43.861 165.325 -3.16895 106.505 -3.16895C47.6845 -3.16895 0.00137124 43.861 0.0013687 101.875Z" fill="#5C5272"/>
          <path d="M639.994 101.875C639.994 159.89 687.677 206.92 746.497 206.92C805.317 206.92 853 159.89 853 101.875C853 43.861 805.317 -3.16895 746.497 -3.16895C687.677 -3.16895 639.994 43.861 639.994 101.875Z" fill="#FFA229"/>
          <path d="M426.013 522.052C426.013 580.066 473.914 627.096 533.003 627.096C592.091 627.096 639.992 580.066 639.992 522.052C639.992 464.038 592.091 417.008 533.003 417.008C473.914 417.008 426.013 464.038 426.013 522.052Z" fill="#FF763E"/>
          <path d="M639.992 206.92L423.137 206.92C307.145 206.92 213.007 112.8 213.007 -3.16896L429.861 -3.16895C545.854 -3.16895 639.992 90.9507 639.992 206.92Z" fill="#0A9396"/>
          <path d="M853 417.008L853 311.984L639.994 206.919L639.994 311.984L853 417.008Z" fill="#341830"/>
          <path d="M853 627.096L853 522.032L639.994 417.008L639.994 522.032L853 627.096Z" fill="#FFA229"/>
          <path d="M9.18326e-06 206.919L426.013 206.919C426.013 322.888 332.089 417.008 216.361 417.008L209.652 417.008C93.9242 417.008 4.1141e-06 322.888 9.18326e-06 206.919Z" fill="#FFA229"/>
          <path d="M0.00270688 627.096C0.00271195 511.086 93.8859 417.008 209.655 417.008L216.364 417.008C332.132 417.008 426.016 511.086 426.016 627.096L0.00270688 627.096Z" fill="#341830"/>
          </svg>
          <div class="absolute">

          </div>
      </div>
    </Section>
    <Section>
      <div class="col-span-12 lg:col-span-6"></div>
      <div class="col-span-12 lg:col-span-6">
        <span class="tag text-orange">Understand Fair Source</span>
        <h2>Find answers to your questions about Fair Source</h2>
        <p class="mb-6">Looking for detailed information about Fair Source? Discover in-depth answers and insights to help you fully understand its benefits and applications. From licensing details to implementation tips, find everything you need to make the most of Fair Source.</p>
        <Button type="secondary" cta="learn more" url="/faq" color="orange" />
      </div>
    </Section>
	</main>
</Layout>

<style>

</style>
