---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background">
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {

  }
  h5 {

  }
  h6 {

  }
  p {
    font-size: 1.5rem;
  }
  p.small {
    font-size: 1.25rem;
  }
  span.tag {
    font-size: 1.5rem;
  }
</style>
