---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import iconX from '../assets/navigation/x.png'
import iconGitHub from '../assets/navigation/github.png'

const links = [
  {
    name: 'How to Adopt Fair Source',
    url: '/howto/',
    target: ''
  },
  {
    name: 'FAQs',
    url: '/faq/',
    target: ''
  },
  {
    name: 'Fair Source Values',
    url: '/fsd/',
    target: ''
  },
  {
    name: 'Licenses',
    url: '/licenses/',
    target: ''
  }
];

const socialLinks = [
  {
    name: 'Github',
    url: 'https://github.com/fairsource/fair.io',
    icon: iconGitHub,
    target: '_BLANK'
  },
  {
    name: 'X',
    url: 'https://x.com/fairsrc/',
    icon: iconX,
    target: '_BLANK'
  }
];


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background">
		<Navigation links={links} socialLinks={socialLinks} />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: 'Outfit';
      src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Plus Jakarta Sans';
      src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
      font-style: normal;
      font-display: swap;
    } 
    @font-face {
      font-family: 'Plus Jakarta Sans';
      src: url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
      font-style: italic;
      font-display: swap;
    }
  }

  h1 {
    font-size: 4.5rem;
    font-weight: 500;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    line-height: 120%;
  }
  h2 {
    font-size: 2.5rem;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;


  }
  h3 {
    font-size: 1.5rem;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;

  }
  p {
    font-size: 1.5rem;
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;

  }
  p.small {
    font-size: 1.25rem;
  }
  span.tag {
    font-size: 1.5rem;
  }
</style>
