---

const year = getYear():

const socialLinks = [
  {
    name: 'Github',
    url: 'https://github.com/fairsource/fair.io',
    icon: '',
    target: '_BLANK'
  },
  {
    name: 'X',
    url: 'https://x.com/fairsrc/',
    icon: '',
    target: '_BLANK'
  }
];

---

<footer class="">
  <div>

  </div>
  <hr />
  <div class="flex justify-center">
    <p>Copyright © {year} Fair.io | All Rights Reserved</p>
  </div>

</footer>