---

  const {backgroundStyling} = Astro.props;
  const backgroundClasses = `${backgroundStyling}`;

---

<section class={`container mx-auto px-[1.5rem] lg:px-[3rem] py-[1.5rem]`}>
  <div class={`${backgroundClasses ? backgroundClasses : ''}  mx-auto relative flex flex-wrap bg-white rounded overflow-clip items-center justify-center`}>
    <slot />
  </div>
</section>